//main:style.sass
.hidden
    display: none
.col-sm-10
    .map
        width: 100%

.navmargin
    padding-bottom: 5em

.login
    align-items: center
    .input-group
        padding-bottom: 1em
    img
        width: 100%
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)

form

    img
        width: 30%

    .input-group
        padding-top: 1em


.col-sm-4
    .corimg
        width: 100%
