//main:style.sass
h4
    display: flex

.col-sm-2
    padding: 0


.bck
    width: 100%

h5, h6
    text-align: left
    padding: 0

.prof
    border-radius: 50%
    width: 50%
    text-align: left
.info
    text-align: left
    display: flex
