.sidenav-bg {
    background-color: black;
    opacity: 0.5;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: -300px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    color: #f1f1f1;
}

.sidenav .dropdown-container a {
    padding: 8px 8px 8px 50px;
}

#toggle-sidenav:checked ~ .sidenav {
    left: 0;
}

#toggle-sidenav:checked ~ .sidenav-bg {
    display: block;
}

@media screen {
    max-height: 450px;
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 15px;
    }
}

.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.dropdown-btn:hover {
    color: #f1f1f1;
}

.tnav {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.lnav {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.lnav label {
    margin-bottom: 0;
    padding: 0 1em;
}

.logo {
    width: 50%;
}

.homeimg {
    width: 100%;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

body .cl {
    text-align: left;
}

.hidden {
    display: none;
}

.col-sm-10 .map {
    width: 100%;
}

.navmargin {
    padding-bottom: 5em;
}

.login {
    align-items: center;
}

.login .input-group {
    padding-bottom: 1em;
}

.login img {
    width: 100%;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

form img {
    width: 30%;
}

form .input-group {
    padding-top: 1em;
}

.col-sm-4 .corimg {
    width: 100%;
}

.col-sm-4 .jlogo {
    width: 100%;
}

.col-sm-8 .editpro {
    margin: 1em 1em 1em 0;
}

.welhome .col-sm-12 {
    padding: 0;
}

.welhome .col-sm-12 .welcome {
    font-size: 6em;
    background-image: url("../Images/MCAST005.jpg");
    background-repeat: no-repeat;
    padding: 2em 0;
    background-size: 100%;
    text-align: center;
    color: white;
}

.welhome .col-sm-6 {
    padding: 0;
}

.welhome .col-sm-6 img {
    width: 100%;
}

.stdcourse {
    display: flex;
    padding-left: 0;
}

.stdcourse h4 {
    padding: 1em 0;
}

.bck {
    padding: 0;
}

.bck img {
    width: 100%;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover {
    opacity: 1;
}

.overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

h5, h6 {
    text-align: left;
    padding: 0;
}

.prof {
    width: 100%;
    text-align: left;
}

.porprof {
    width: 80%;
}

.info {
    text-align: left;
    display: flex;
}

.coninfo {
    text-align: left;
    display: flex;
    align-items: center;
}

.coninfo svg {
    font-size: 1.25em;
}

.coninfo .email {
    margin-bottom: 0;
    padding: 0 1em;
}

.name {
    text-align: left;
}

#eprofile {
    text-align: right;
}
